<!DOCTYPE  html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <body>
        <h1> Add Item to Cart </h1>
        {% if request.session %}
        <table>
            <thead>
                <th> Item Name </th>
                <th> Quantity </th>
            </thead>
            {% for key, value in request.session.items %}
                <tr>
                    <td> {{ key }} </td>
                    <td> {{ value }} </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <h3> No items in cart </h3>
        {% endif %}
    </body>
</html>